.post {
	//margin-bottom: 4.5em;
}

.post-header {
	padding: 2.25em 0;
	//padding-top: 6em;
}

.post-content {
  margin-bottom: $gutter*2;
  //@media(min-width: $xx-large-screen) {
  	//font-size: 1.125em;
  //}
}

.post-title {
	//text-transform: uppercase;
	//letter-spacing: -0.03em;
	letter-spacing: -0.018em;
	@include media($large-screen) {
		font-size: 2.75em;
	}
	@include media($x-large-screen) {
		font-size: 3em;
	}
	//line-height: 1;
}

.postNav {
	@include row();
	//border-top: 1px solid $light-gray;
	//border-bottom: 1px solid $light-gray;
	border-top: 3px solid #eee;
	margin: ($gutter) 0;
	padding: $gutter 0;

	.col-half {
		&:first-of-type {
			padding-right: $gutter;
		}

		&:last-of-type {
			padding-left: $gutter;
		}
	}
}

.postNav__title {
	display: block;
	font-size: 1rem;
	margin-bottom: $gutter / 2;
	//color: $brand-blue;
	//color: $light-gray;
	color: $color-highlight--secondary;
}

.postNav__link {
	//display: block;
	//font-size: 1rem;
	//text-transform: uppercase;
	//letter-spacing: -0.03em;
	//letter-spacing: -0.018em;
	font-size: 1em;
	letter-spacing: normal;

	a {
		color: $black;
	}
}

.list-post-title {
	//font-size: 1.25em;
}

.page-header {
	//padding-top: 6em;
	//padding-bottom: 1.25em;
	padding: 2.25em 0;
}

.page-title--small {
	//font-family: $header-font-family;
	font-size: 1em;
	//color: $brand-blue;
	//color: $color-highlight--primary;
	//text-transform: uppercase;
	//color: $light-gray;
	color: $color-highlight--secondary;
	//letter-spacing: 0.18em;
	border-bottom: 3px solid $color-highlight--secondary;
	padding-bottom: $gutter / 2;
	margin-bottom: ($gutter * 2)!important;
	font-weight: normal;
	//text-transform: none;
}

.home-page-title {
	margin-top: 2.25em;
}

figure {
	margin: 0;
	padding: 0;
	width: 100%;
}

img {
	width: 100%;
}

.feat-img {
	width: 100%;
	//margin: 0;
	margin-bottom: $gutter * 2;
	//padding: 0;
	@include media($large-screen) {
		//width: 115%;
		//margin-left: -7.5%;
	}
}

.inline-img {
	width: 100%;
	margin-bottom: $gutter;
}

.p-intro {
  	font-size: 1.4em;
  	line-height: 1.4;
  	margin-top: 0;
  	margin-bottom: $gutter / 2;
  	&::first-letter {
  		font-size: 2.7em;
  		font-family: 'playfair display', serif;
    	color: $color-highlight--primary;
    	line-height: 1;
    	float: left;
    	margin: 0;
    	padding: 0;
    	padding-right: 0.1em;
    	padding-top: 0.01em;
    	font-weight: bold; 
  	}
}

.post-tag {

	font-family: $alt-font-family;
	font-size: 1rem;
	display: inline-block;

	&__title {
		//color: #aaa;
		color: $color-highlight--secondary;
		@media(max-width: $medium-screen) {
			display: block;
		}
	}

	&__label {

		text-decoration: none;
		text-transform: uppercase;

		 &:after {
    		content: ' | ';
    		color: #aaa;
    	}

    	&:last-of-type:after {
    		content: '';
    	}	
	}


	//background: #eee;
    /* color: #aaa; */
    //font-family: $alt-font-family;
    //text-transform: uppercase;
    //text-decoration: none;
    //font-size: .7em;
    //padding: .2em;
    //margin-top: .82em;
    //margin-right: .41em;
    //margin-bottom: .82em;
    //display: inline-block;

   
}

.col-2-3 {
	@media(min-width: $large-screen) {
		@include span-columns(8);
	}
}

.author-box {
	@include row();
	border-top: 3px solid #eee;
	padding-top: 1.618em;
	margin-top: 3.236em;
	font-size: 1rem;
	line-height: 1.375;

	&-blurb {
		width: 70%;
		float: left;
		padding-right: $gutter;
	}

	&-img {
		width: 30%;
		float: left;
	}
}