.col-half {
	@include span-columns(6);
}

.flex-grid {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-half {
	flex: 0 0 100%;
	margin-bottom: $gutter;
	@media(min-width: $large-screen) {
		flex: 0 0 48%;
	}
}