//@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900);
//@import url(https://fonts.googleapis.com/css?family=PT+Serif);
//@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900,700);
//@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);
//@import url(https://fonts.googleapis.com/css?family=Karla);
//@import url(https://fonts.googleapis.com/css?family=Vidaloka);
//@import url(https://fonts.googleapis.com/css?family=Montserrat);
//@include font-face('salome', '../fonts/salome-webfont');
//@include font-face('ftpro-l', '../fonts/FreightTextPro-Light');
//@include font-face('sai-l', '../fonts/sailec-light');
//@include font-face('sai-b', '../fonts/sailec-bold');
//@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
//@import url(https://fonts.googleapis.com/css?family=Muli);
//@include font-face('sofia-pro', '../fonts/sofia-pro-black-webfont');
@include font-face('campton', '../fonts/subset-Campton-Bold');
@include font-face('hk grotesk', '../fonts/subset-HKGrotesk-Light');
@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
// Basic settings for typography, using Bourbon font-family addon
$sans-serif: $helvetica;
$serif: 'PT Serif', $georgia;
//$body-font: 'muli', $sans-serif;
$base-font-family: 'hk grotesk', $sans-serif;
//$header-font-family: 'sofia-pro', $helvetica;
$header-font-family: 'campton', $helvetica;
$alt-font-family: 'Share Tech Mono', monospace;

body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 100;
  line-height: $unitless-line-height;
  @media(min-width: $medium-screen) {
    //font-size: 115%;
  }
  @media(min-width: $large-screen) {
    font-size: 110%;
    line-height: 1.625;
  }
  @media(min-width: $x-large-screen) {
    font-size: 120%;
  }
  //@media(min-width: $xx-large-screen) {
    //font-size: 130%;
  //}
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: bold;
  //font-weight: normal;
  //text-transform: uppercase;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.018em;
  color: $base-contrast-color;
}

h1, .h1 {
  font-size: $base-font-size * 2.5;
}

h2, .h2 {
  font-size: $base-font-size * 2.25;
}

h3, .h3 {
  font-size: $base-font-size * 2;
}

h4, .h4 {
  font-size: $base-font-size * 1.75;
}

h5, .h5 {
  font-size: $base-font-size * 1.5;
}

h6, .h6 {
  font-size: $base-font-size * 1.25;
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

.font--alt {
  font-family: $alt-font-family;
  text-transform: uppercase;
  //font-weight: 400;
}

p {
  margin: $gutter 0;
}